numpy>=1.26
pandas>=2.2
matplotlib>=3.8
gluonts>=0.15

torch==2.4.0
torchvision==0.19.0

tokenizers==0.19.1
transformers==4.40.1
safetensors>=0.4

chronos-forecasting>=2.1
uni2ts
timesfm

tirex-ts[all]
scikit-learn>=1.8.0